custom-browser {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    .browser{
        width:100%;
        height:100%;
        position:relative;
        background-color: white;
    }

    .navbar{
        background: black;
        height: 100px;
        width: 100%;
        font-size: 40px;
        color: #EEE;
        padding-top: 20px;
    }

    webview{
        height: 100%
    }

    .spinner{
       font-size: 10px;  
    }

    .close-browser{
        float: right;
    }
}
